SUBSYSTEM=="gpio", KERNEL=="gpio*", ACTION=="add",\
 RUN+="/bin/chown root:system_fw /sys%p/value",\
 RUN+="/bin/chmod g+rw /sys%p/value",\
 RUN+="/bin/chsmack -a System /sys%p/value"
SUBSYSTEM=="gpio", KERNEL=="gpio*", ACTION=="add",\
 RUN+="/bin/chown root:system_fw /sys%p/direction",\
 RUN+="/bin/chmod g+rw /sys%p/direction",\
 RUN+="/bin/chsmack -a System /sys%p/direction"
SUBSYSTEM=="gpio", KERNEL=="gpio*", ACTION=="add",\
 RUN+="/bin/chown root:system_fw /sys%p/edge",\
 RUN+="/bin/chmod g+rw /sys%p/edge",\
 RUN+="/bin/chsmack -a System /sys%p/edge"
