[Unit]
Description=Peripheral Service Daemon
Requires=dbus.service
After=systemd-tmpfiles-setup.service

[Service]
SmackProcessLabel=System
Type=simple
ExecStart=/usr/bin/peripheral-bus
Restart=always
RestartSec=0

[Install]
WantedBy=tizen-system.target
